@page
@model EF6Core3.Pages.IndexModel
@if (Model.Person != null)
{
	<div style="display:flex;flex-flow:column;align-items:center;">
		<h4>@Model.Person.Id</h4>
		<h4>@Model.Person.FullName</h4>
		<h4>@Model.Person.Age</h4>
		<h4>@Model.Person.CreateDate.ToString("MM/dd/yyyy HH:mm:ss.fff")</h4>
	</div>
}