@page
@model EF6Core3.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}

@if (Model.Person != null)
{
	<div style="display:block;margin:100px auto">
		<p>@Model.Person.Id</p>
		<p>@Model.Person.FullName</p>
		<p>@Model.Person.Age</p>
		<p>@Model.Person.CreateDate.ToString("MM/dd/yyyy HH:mm:ss.fff")</p>
	</div>
}